* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background: #f9f5ef;
  font-family: 'Alatsi', sans-serif; }

#sidebar {
  display: block;
  position: absolute;
  width: 230px;
  height: 300px;
  float: left;
  top: 160px;
  padding-top: 130px;
  font-size: 1.6em;
  color: #6c8a9b;
  background: #e6e6e4; }
  #sidebar ul {
    list-style: square;
    margin-left: -10px;
    background: #e6e6e4; }
    #sidebar ul li {
      background: #e6e6e4; }
      #sidebar ul li a {
        outline: none;
        background: #e6e6e4;
        text-decoration: none; }
      #sidebar ul li a:link {
        color: #6c8a9b; }
      #sidebar ul li a:visited {
        color: #6c8a9b; }
      #sidebar ul li a:hover {
        color: rgba(0, 0, 0, 0.5); }
      #sidebar ul li a:active {
        color: #6c8a9b; }

#songText {
  display: block;
  position: relative;
  width: 700px;
  left: 270px;
  top: 160px;
  background: #e6e6e4;
  color: #6c8a9b;
  padding-top: 46px;
  padding-left: 50px;
  margin-bottom: 75px; }
  #songText img {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 14px; }
  #songText #songName {
    font-size: 1.6em;
    background: #e6e6e4; }
  #songText #singer {
    font-size: 1.3em;
    background: #e6e6e4; }
  #songText #album {
    font-size: 1.3em;
    background: #e6e6e4;
    margin-bottom: 130px; }
  #songText pre {
    background: #e6e6e4;
    margin-bottom: 46px; }
  #songText #addSong {
    display: block;
    left: 550px;
    width: 100px;
    height: 30px;
    position: absolute;
    border: none;
    background: #f8d49b;
    color: #557b83;
    outline: none;
    cursor: pointer; }
  #songText #addSong:hover {
    background: #F9CC82; }
