<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=content-width, initial-scale=1">
    <link rel="stylesheet" href="/CSS/style_about.css">
    <link rel="icon" href="http://www.pngall.com/wp-content/uploads/2016/09/Clef-Note.png">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet">
    <title>GeniusLyrics | About</title>
  </head>
  <body>
    <div id="sidebar">
      <ul>
        <li><a href="/">Search lyrics</a></li>
        <li><a href="/library">View my lyrics</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
    <div id="container">
      <div id="about">
        <p>I wrote service for viewing lyrics. Used Genius API to get information about media, also used cheerio for parsing lyrics and get song lyrics text. App wrote on NodeJS and Express hope adding angular as soon as I learn it.</p>
        <p>Author: Volodymyr Vlasenko</p>
        <p>Currently uneployed, PLEASE GIVE ME WORK! I want to work! Or <a target="_blank" href="/">donate</a> me)</p>
      </div>
    </div>
  </body>
</html>
